{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="column">
      <h3>Proceed with the following steps to see trello integration in action:</h3>
      <ol>
        <li>Associate deal with Trello card using <a href="https://app.hubspot.com/">HubSpot</a> interface</li>
        <li>Map Trello board lists with HubSpot pipeline stages on <a href="{{ url_for('mappings.home') }}">mappings</a> page</li>
        <li>Move associated trello card to any other mapped earlier board list and check how this affects HubSpot deal stage</li>
      </ol>
    </div>
  </div>
{% endblock %}
