{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="column">
      <h3>CRM extension card initialization {% if extension_card_id %}(extension_card_id={{ extension_card_id }}){% endif %}:</h3>
<pre>
// src/routes/init.py
</pre>
      <ol>
        {% if card_id is none %}
          <li>New CRM extension card will be created (with "{{ card_title }}" title)</li>
        {% endif %}
        {% set data_fetch_url = url_for('trello.associations.card_extension_data', _external=True) %}
        <li>"Data fetch URL" will be updated to <a href="{{ data_fetch_url }}">{{ data_fetch_url }}</a></li>
        <li>"Deals" in "Target record types" section will be activated with "hs_object_id", "dealname" properties sent form HubSpot</li>
        {% set base_url = url_for('home', _external=True) %}
        <li>"Custom actions"->"Base URL" section will be updated with <a href="{{ base_url }}">{{ base_url }}</a></li>
      </ol>

      <h3>Trello card webhooks initialization</h3>
        <ol>
          <li>Webhooks that was previously created by this application and match DB will be activated and updated with
            <a href="{{ url_for('trello.webhooks.handle') }}">{{ url_for('trello.webhooks.handle', _external=True) }}</a> callback URL
          </li>
        </ol>
    </div>
  </div>

  <form method="post" class="text-center">
      <button type="submit">Continue</button>
  </form>

{% endblock %}
