{% extends "layout.html" %}

{% block content %}

<table class="properties-list">
    <thead>
    <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Description</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for property in properties %}
        <tr>
            <td>
                <a href="{{ url_for('routes.properties.show', name=property.name) }}">{{ property.name }}</a>
            </td>
            <td>{{ property.label }}</td>
            <td>{{ property.description }}</td>
            <td>{{ property.type }}</td>
            <td>
                {% if property.modification_metadata.archivable %}
                    <a id="remove-{{ property.name }}"
                       onclick="return confirm('Are you sure?')"
                       href="{{ url_for('routes.properties.delete', name=property.name) }}">
                        <input type="button" value="Delete" title="Delete" class="button-primary"/>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <a href="">
        <input class="button-primary" type="button" value="New Property">
    </a>
</div>

{% endblock %}
