{% extends "layout.html" %}

{% block content %}

{% if action_performed %}
    <h3 class="alert-success">Successfully {{ action_performed }} Company</h3>
{% endif %}


{% if search is defined %}
<pre>
// src/routes/companies.py
filter = Filter(
    property_name='email',
    operator='EQ',
    value=search,
)
filter_group = FilterGroup(filters=[filter])
public_object_search_request = PublicObjectSearchRequest(
    filter_groups=[filter_group],
)
hubspot.crm().companies().search_api().do_search(
    public_object_search_request=public_object_search_request
)
</pre>
{% endif %}

<form action="{{ url_for('companies.search') }}">
    <fieldset>
        <input type="text" name="search" placeholder="Search by email.." value="{{ search }}">
    </fieldset>
</form>

{% if search is not defined %}
<pre>
// src/routes/companies.py
hubspot_client = hubspot.Client.create(access_token='access_token')
companies_page = hubspot_client.crm().companies().basic_api().get_page()
</pre>
{% endif %}

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Domain</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for company in companies %}
        <tr>
            <td><a href="{{ url_for('companies.show', company_id=company.id) }}">{{ company.id }}</a></td>
            <td>{{ company.properties.name or '' }}</td>
            <td>{{ company.properties.domain or '' }}</td>
            <td>
                <a
                    onclick="return confirm('Are you sure?')"
                    href="{{ url_for('companies.delete', company_id=company.id) }}">
                        <input type="button" value="Delete" title="Delete" class="button-primary"/>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<div>
  <a href="{{ url_for('companies.new') }}">
    <input class="button-primary" type="button" value="New company">
  </a>
</div>

{% endblock %}
