{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column">
        <h3>Company Properties</h3>

        {% if company.id is not none %}
<pre>
// src/routes/companies.py
hubspot_client.crm().companies().basic_api().get_by_id()
</pre>
        {% endif %}

        <form method="post">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{ company.properties.name }}">

                <label for="domain">Domain</label>
                <input type="text" name="domain" id="domain" value="{{ company.properties.domain }}">


                {% if company.id is not none %}
<pre>
// src/routes/companies.py
input = SimplePublicObjectInput(properties=request.form)
hubspot_client.crm().companies().basic_api().update(company_id, input)
</pre>
                {% else %}
<pre>
// src/routes/companies.py
input = SimplePublicObjectInput(properties=request.form)
hubspot_client.crm().companies().basic_api().create(input)
</pre>

                {% endif %}
                <input id="save" class="button-primary" type="submit" value="Save">
            </fieldset>
        </form>

    </div>

    <div class="column">
        <h3>Associated Contacts</h3>
<pre>
// src/routes/companies.py
associations = hubspot.crm().associations().batch_api().read_batch(
    ObjectType.COMPANIES,
    ObjectType.CONTACTS,
    batch_input_public_object_id=BatchInputPublicObjectId(inputs=[company_id])
)
</pre>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                {% for contact in associated_contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.properties.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/contacts/list.php?companyId=<?php echo htmlentities($id); ?>">
            <input id="manageContacts" class="button-primary" type="button" value="Manage Contacts">
        </a>
    </div>
</div>

{% endblock %}
