{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column">
        <h3>Company Properties</h3>

        {% if company.id is not none %}
<pre>
// src/routes/companies.py
hubspot_client.crm().companies().basic_api().get_by_id()
</pre>
        {% endif %}

        <form method="post">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{ company.properties.name }}">

                <label for="domain">Domain</label>
                <input type="text" name="domain" id="domain" value="{{ company.properties.domain }}">


                {% if company.id is not none %}
<pre>
// src/routes/companies.py
input = SimplePublicObjectInput(properties=request.form)
hubspot_client.crm().companies().basic_api().update(company_id, input)
</pre>
                {% else %}
<pre>
// src/routes/companies.py
input = SimplePublicObjectInput(properties=request.form)
hubspot_client.crm().companies().basic_api().create(input)
</pre>

                {% endif %}
                <input class="button-primary" type="submit" value="Save">

                {% if company.id is not none %}
                    <a href="{{ url_for('associations.list', company_id=company.id) }}">
                        <input class="button-primary" type="button" value="Manage Associations">
                    </a>
                {% endif %}
            </fieldset>
        </form>

    </div>
</div>

{% endblock %}
