{% extends "layout.html" %}

{% block content %}

{% if search is defined %}
<pre>
// src/routes/contacts.py
filter = Filter(
    property_name='email',
    operator='EQ',
    value=search,
)
filter_group = FilterGroup(filters=[filter])
public_object_search_request = PublicObjectSearchRequest(
    filter_groups=[filter_group],
)
hubspot.crm().contacts().search_api().do_search(
    public_object_search_request=public_object_search_request
)
</pre>
{% endif %}

<form action="/contacts/search">
    <fieldset>
        <input type="text" name="search" placeholder="Search by email.." value="{{ search }}">
    </fieldset>
</form>

{% if search is not defined %}
<pre>
// src/routes/contacts.py
hubspot_client = hubspot.Client.create(access_token='access_token')
contacts_page = hubspot_client.crm().contacts().basic_api().get_page()
</pre>
{% endif %}

<table class="contacts-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>

    {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.properties.email }}</td>
            <td>{{ contact.properties.firstname ~ ' ' ~ contact.properties.lastname}}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
