{% extends "layout.html" %}

{% block content %}

{% if action_performed %}
    <h3 class="alert-success">Successfully {{ action_performed }} Contact</h3>
{% endif %}


{% if search is defined %}
<pre>
// src/routes/contacts.py
filter = Filter(
    property_name='email',
    operator='EQ',
    value=search,
)
filter_group = FilterGroup(filters=[filter])
public_object_search_request = PublicObjectSearchRequest(
    filter_groups=[filter_group],
)
hubspot.crm().contacts().search_api().do_search(
    public_object_search_request=public_object_search_request
)
</pre>
{% endif %}

<form action="/contacts/search">
    <fieldset>
        <input type="text" name="search" placeholder="Search by email.." value="{{ search }}">
    </fieldset>
</form>

{% if search is not defined %}
<pre>
// src/routes/contacts.py
hubspot_client = hubspot.Client.create(access_token='access_token')
contacts_page = hubspot_client.crm().contacts().basic_api().get_page()
</pre>
{% endif %}

<table class="contacts-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for contact in contacts %}
        <tr>
            <td><a href="{{ url_for('contacts.show', contact_id=contact.id) }}">{{ contact.id }}</a></td>
            <td>{{ contact.properties.email }}</td>
            <td>{{ (contact.properties.firstname or '') ~ ' ' ~ (contact.properties.lastname or '')}}</td>
            <td>
                <a
                    onclick="return confirm('Are you sure?')"
                    href="{{ url_for('contacts.delete', contact_id=contact.id) }}">
                        <input type="button" value="Delete" title="Delete" class="button-primary"/>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<div>
  <a href="{{ url_for('contacts.new') }}">
    <input class="button-primary" type="button" value="New Contact">
  </a>
  <a href="{{ url_for('contacts.export') }}">
    <input class="button-primary" type="button" value="Export All Contacts To CSV">
  </a>

</div>


{% endblock %}
