{% extends "layout.html" %}

{% block content %}

<pre>
// src/routes/contacts.py
client = HubSpot(access_token='access_token')
contacts_page = client.crm.contacts.basic_api.get_page()
</pre>

<table class="contacts-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>

    {% for contact in contacts %}
        <tr>
            <td>{{ contact.id }}</td>
            <td>{{ contact.properties.email }}</td>
            <td>{{ contact.properties.firstname ~ ' ' ~ contact.properties.lastname}}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
