{% extends "layout.html" %}

{% block content %}

<pre>
// src/routes/imports.py
client = HubSpot(access_token='access_token')
imports_page = client.crm.imports.core_api.get_page()
</pre>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Import Name</th>
      <th>State</th>
      <th>Created At</th>
    </tr>
    </thead>
    <tbody>

    {% for import in imports %}
      <tr>
        <td><a href="{{ url_for("imports.show", import_id=import.id) }}">{{ import.id }}</a></td>
        <td>{{ import.import_request_json["importName"] }}</td>
        <td>{{ import.state }}</td>
        <td>{{ import.created_at }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}
