{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column">

        {% if action_performed %}
            <h3 class="alert-success">Successfully {{ action_performed }} Association</h3>
        {% endif %}

        <h3>Associated Contacts</h3>
<pre>
// src/routes/companies.py
associations = hubspot.crm.associations.batch_api.read(
    ObjectType.COMPANIES,
    ObjectType.CONTACTS,
    batch_input_public_object_id=BatchInputPublicObjectId(inputs=[company_id])
)
</pre>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for contact in associated_contacts %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>{{ contact.properties.email }}</td>
                        <td>
                            <a
                                onclick="return confirm('Are you sure?')"
                                href="{{ url_for('associations.delete', company_id=company.id, contact_id=contact.id) }}">
                                    <input type="button" value="Delete Association" class="button-primary"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('associations.new', company_id=company.id ) }}">
            <input class="button-primary" type="button" value="New Association">
        </a>
    </div>
</div>

{% endblock %}
