{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column column-80 column-offset-10">
        <h3>Initialization script</h3>
        <h5>Webhooks subscription will be created with following events:</h5>
        <ul>
            <li>Contact's Creation (contact.creation)</li>
            <li>Changing of Contact's Fist Name (contact.propertyChange)</li>
            <li>Contact's Deletion (contact.deletion)</li>
        </ul>
        <h5>Target url: http://localhost.</h5>
<pre>
// src/routes/init.py
</pre>
        <form method="post" class="text-center">
            <button type="submit">Continue</button>
        </form>
    </div>
</div>


{% endblock %}
